<%- include('partials/header') -%>
<body>
  <div class="site-blocks-cover inner-page-cover bg-light mb-5">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-12 text-center">
          <h1 class="mb-0">About SoundCamp</h1>
          <a class="aboutA" href="/home">Home</a><span class="mx-2">&bullet;</span> About Us
        </div>
      </div>
    </div>
  </div>

  <div class="site-section pt-3">
    <div class="aboutContainer">
      <div class="row mb-5">
        <div class="col-12">
          <h2 class="display-5 mb-3 text-black">About The Company</h2>
        </div>
        <div class="col-lg-6 aboutText">
          <p class="aboutP">
            At Sound Camp, we are passionate about empowering music
            professionals and enthusiasts to unleash their creative potential.
            We have developed a premier backup and collaboration app that
            revolutionizes the way musicians, producers, and artists work
            together. Our mission is to provide a platform that simplifies the
            sharing, tracking, and creation of music, enabling seamless
            collaboration and fostering a vibrant community of talented
            individuals. <p class="aboutP"> With Sound Camp, you can effortlessly connect with
            fellow musicians, exchange ideas, and work on projects together,
            regardless of your location. Our app offers a range of innovative
            features designed to enhance your music production experience. From
            secure cloud backup and version control to real-time collaboration
            tools, we ensure that your creative process remains smooth and
            efficient. Whether you're a solo artist looking for feedback on your
            latest composition or a band seeking seamless collaboration on a new
            track, Sound Camp has got you covered.</p> We believe in the power of
            music to inspire, connect, and transform lives. That's why we strive
            to provide a platform that not only simplifies the creative process
            but also fosters a supportive community where artists can thrive.
            Join Sound Camp today and experience the freedom to create,
            collaborate, and share your musical journey with the world.
          </p>
        </div>
      </div>
      <div class="row justify-content-around">
        <div class="col-md-12">
          <img
            src="/imgs/sketches-dj-dahi-hero-mobile-768x645-c-default.png"
            alt="Image"
            class="img-fluid mb-5"
          />
        </div>
      </div>
    </div>
  </div>
</body>
<%- include('partials/footer') -%>
