<%- include('partials/header') -%>

<body>
    

    <div class="container pt-5 hero homeContainer">
        <div class="row align-items-center text-center text-md-left">
          
          <div class="col-lg-4 homeContainer">
            <h1 class="mb-3 display-3">Create Your Story</h1>
            <p>Unleash Your Musical Potential, Collaborate with Confidence!</p>
          </div>
          <div class="col-lg-8">
            <img src="/imgs/Session-Studio-song-credits-Artists-&-Musicians.jpeg" alt="Image" class="img-fluid">    
          </div>
        </div>
      </div>
      
  
      



</body>

<!-- Sound Camp: Unleash Your Musical Potential, Collaborate with Confidence! -->



<%- include('partials/footer') -%>